@font-face {
  font-family: "Brandon Grotesque Black";
  src: url("/fonts/brandongrotesque-black-webfont.woff2") format("woff2"),
    url("/fonts/brandongrotesque-black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: bolder;
  font-display: fallback;
}

@font-face {
  font-family: "Lulo Clean Bold";
  src: url("/fonts/fontsfree-net-lulo-clean-w01-one-bold-webfont.woff2")
      format("woff2"),
    url("/fonts/fontsfree-net-lulo-clean-w01-one-bold-webfont.woff")
      format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "Futura Book";
  src: url("/fonts/FuturaStd-Book.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Futura Light";
  src: url("/fonts/FuturaStd-Light.otf") format("opentype");
  font-style: normal;
  font-weight: light;
  font-display: fallback;
}
